@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
* {
  color: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 4px #000;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: darkgray;
}

html::-webkit-scrollbar-thumb {
  background-color: #5e6b76;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

header {
  background-image: url(/img/abstrait.jpg);
  background-position: center;
  background-size: cover;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header .top {
  height: 938px;
}

header .logo_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 50px;
}

header #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

header .title_ua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  margin: 122px;
}

header .title_ua h1 {
  font-size: 50px;
}

header .title_ua h2 {
  font-size: 40px;
}

header #btn_top {
  border-radius: 40px;
  background-color: white;
  color: black;
  padding: 8px 25px;
  border-style: solid;
  -webkit-box-shadow: 2px 2px 3px #aaa;
          box-shadow: 2px 2px 3px #aaa;
  font-size: 15px;
  cursor: pointer;
}

header #btn_top:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(183, 33, 28, 0.8)), to(transparent));
  background-image: linear-gradient(0deg, rgba(183, 33, 28, 0.8), transparent);
  color: white;
}

.sec_1 {
  border-color: orange;
  height: 467px;
}

.sec_1 p {
  position: relative;
  top: 270px;
  font-size: 23px;
}

.sec_1 #sec_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 65px;
}

.sec_1 .sec_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 360px;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
  border-radius: 45px 174px;
  cursor: copy;
}

.sec_1 #sec01 {
  background-image: url(/img/blc02.jpg);
  background-position: center;
  background-size: cover;
}

.sec_1 #sec02 {
  background-image: url(/img/blc01.jpg);
  background-position: center;
  background-size: cover;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
  padding: 10px;
}

.sec_blog {
  background-image: url("/img/blc03.jpg");
  background-position: center;
  background-size: cover;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.sec_blog h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}

.sec_blog .sec_card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 217px;
  width: 15%;
  background-color: #5e6b76;
  -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
  border-radius: 45px 174px;
  cursor: copy;
}

.sec_blog .sec_card1:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sec_blog #sec_03 {
  background-image: url(/img/github.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 64%;
}

.sec_blog #sec_04 {
  background-image: url(/img/stack-overflow.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 50%;
}
/*# sourceMappingURL=style.css.map */